.container-books {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: start;
}

table {
    flex: 1;
    border-collapse: collapse;
}

td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin-bottom: 10px;

}

.btn-add {
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: #00b300;
    border: none;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-delete {
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: #cc0000;
    border: none;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.btn-edit {
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: #0000cc;
    border: none;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.form-crud {
    flex: 1;
    background-color: #404040;
    padding: 10px;
    border-radius: 10px;
}
.form-input{
    display: block;
    background-color: transparent;
    padding: 7px;
    border: #ddd solid 0.1px;
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
}
label{
    font-weight: bold;
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(200, 200, 200, 0.2);
    width: 100%;
    height: 100vh;
}

.modal-body {
    padding: 1em;
    width: 40%;
    background-color:#404040;
}

.modal-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-close-modal {
    cursor: pointer;
}